@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #0D2C54;
    --secondary-color: #F1F5F9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

body {
    background-color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
}

#loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

#img-loader {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}


header {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    color: #fff;
    text-align: center;
}

.slider {
    position: relative;
    width: 500%;
    animation: animate 10s linear infinite;
}

.slide {
    position: relative;
    width: 20%;
    float: left;
    height: 55vh;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.slide:nth-child(1) {
    background: url('assets/img/background.jpg');
}

.slide:nth-child(2) {
    background: url('assets/img/background1.jpg');
}

.slide:nth-child(3) {
    background: url('assets/img/background2.jpg');
}

.slide:nth-child(4) {
    background: url('assets/img/background3.jpg');
}

.slide:nth-child(5) {
    background: url('assets/img/background4.jpg');
}

.slide:nth-child(6) {
    background: url('assets/img/background5.jpg');
}

@keyframes animate {
    0% {
        left: 0;
    }

    16% {
        left: 0;
    }

    20% {
        left: -100%;
    }

    36% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    56% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    76% {
        left: -300%;
    }

    80% {
        left: -400%;
    }

    96% {
        left: -400%;
    }

    100% {
        left: 0;
    }
}

.slide h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 3em;
    width: 100%;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: var(--primary-color);
    /* padding: 1em; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    font-size: 20px;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 0.5em;
    align-items: center;
}

main {
    display: flex;
}

#content {
    padding: 3rem;
    font-size: 1rem;
    width: 80%;
    /* border: 1px solid #000; */
}

#content p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

article>img {
    padding-top: 1rem;
    width: 100%;
    height: auto;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#geografis h2 {
    padding-top: 1rem;
}

#budaya h2 {
    padding-top: 1rem;
}

#kuliner h2 {
    padding-top: 1rem;
}

aside {
    margin: 6rem 2rem;
    padding: 1.5rem 0;
    width: 40%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 70%;
    background-color: #ffffff;

}

aside h2 {
    text-align: center;
}

#quote {
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

#logo {
    margin: 0 auto;
    padding: 2rem 0 0.5rem 0;
    text-align: center;
}

#logo img {
    width: 40%;
    height: auto;
}

#informasi {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 2rem 5.5rem;
    background-color: #f7f7f7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#informasi h4 {
    text-align: center;
    padding: 1rem;
}

table,
th,
td {
    border-collapse: collapse;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

th,
td {
    padding: 0.5rem 3rem;
    text-align: left;
}

#informasi a {
    color: #0D2C54;
    text-decoration: none;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 100;
    width: 100%;

    font-family: 'Montserrat', sans-serif;
    font-size: 19px;

}

@media (max-width: 900px) {
    .slide h1 {
        font-size: 2.5em;
    }

    nav {
        font-size: 20px;
    }

    nav>ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0 0.5em;
    }

    main {
        flex-direction: column-reverse;
    }

    #content {
        padding: 1rem;
        font-size: 1rem;
        width: 100%;
    }

    #content p {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        width: 100%;
    }

    article>img {
        padding-top: 1rem;
        width: 100%;
        height: auto;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    aside {
        width: 96%;
        padding: 1rem;
        margin: 1rem;
        background-color: #ffffff;
    }

    aside h2 {
        font-size: 1.5rem;
    }

    #quote {
        font-style: italic;
        margin: 0 auto;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }

    #informasi {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin: 3rem 0.5rem;
        background-color: #f7f7f7;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    #informasi h4 {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;
    }

    table,
    th,
    td {
        border-collapse: collapse;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    th,
    td {
        padding: 0.9rem 7.5rem;
        text-align: left;
    }

    footer {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .slide h1 {
        font-size: 1.5em;
    }

    .slide {
        width: 20%;
        float: left;
        height: 35vh;
    }

    nav {
        font-size: 14px;
    }

    nav>ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0 0.5em;
    }

    main {
        flex-direction: column-reverse;
    }

    #content {
        padding: 1rem;
        font-size: 0.8rem;
        width: 100%;
    }

    #content p {
        margin-top: 0.5rem;
        font-size: 1rem;
        width: 100%;
    }

    article>img {
        padding-top: 1rem;
        width: 100%;
        height: auto;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    aside {
        width: 90%;
        padding: 1rem;
        margin: 1rem;
        background-color: #ffffff;
    }

    aside h2 {
        font-size: 1rem;
    }

    #quote {
        font-style: italic;
        margin: 0 auto;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }

    #informasi {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        margin: 1rem 0.5rem;
        background-color: #f7f7f7;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    #informasi h4 {
        text-align: center;
        padding: 1rem;
        font-size: 1rem;

    }

    table,
    th,
    td {
        border-collapse: collapse;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    th,
    td {
        padding: 0.9rem 1.7rem;
        text-align: left;
    }

    footer {
        font-size: 16px;
    }
}