/* @import url('https://fonts.googleapis.com/css2?family=Actor&family=Metrophobic&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap'); */

* {
    padding: 0;
    margin: 0;
}

body > header {
    background-image: url("assets/img/background3.jpg");
    /* on background image add little bit dark */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

header > h1 {
    padding: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 700;
}

nav {
    background-color: #0D2C54;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    
    /* Shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Metrophobic', sans-serif;
}

p {
    font-family: 'Actor', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

nav > ul {
    padding: 0 4.5em;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

main{
    background-color: #EEEDED;
    padding: 4em;
}

h2 {
    font-size: 1.4em;
    font-weight: 700;
    padding: 1em 0;
}

main > p {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 1em 0;
}

aside {
    display: flex;
    justify-content: end;
    padding: 1em 0;
}


#geografis img {
    width: 920px;
}